body {
    background-color: rgb(58, 7, 241);
    color: rgb(0, 255, 255);
    font-family: sans-serif;
    display: flex;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;

}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgb(0, 255, 255); /* Add text shadow to heading */
}

button {
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 0 2px black;
    text-shadow: 0 0 5px rgb(0, 0, 0); /* Add text shadow to buttons */
}
